development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: <%= ENV.fetch('WORKTREE_DEV_DB',  'rlbox_development') %>
  pool:     15
  username: app_user
  password: postgres
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: <%= ENV.fetch('WORKTREE_TEST_DB', 'rlbox_test') %>
  pool:     15
  username: app_user
  password: postgres
  template: template0

production:
  primary: &primary_production
    adapter:  postgresql
    pool:     30
    url:      <%= ENV.fetch('DATABASE_URL', '') %>

  cable:
    <<: *primary_production
    migrations_paths: db/cable_migrate
